
#contact-div {
    margin: auto;
    width: 60vw;
    display: flex;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#contact-form-container,
#contact-links-container {
    width: 25vw;
    display: inline-block;
}

#contact-links-container {
    margin: auto;
    display: flex;
}

#contact-links {
    display: flex;
    width: 25vw;
    margin-top: 2rem;
    margin-left: 5rem;
    flex-direction: column;
    gap: 2rem;
}

#contact-links p {
    width: 6.25vw;
}

#contact-links a {
    color: #5ad67d;
    vertical-align: middle;
    display: inline;
}

#contact-links img {
    vertical-align: middle;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
