#contact-div {
    margin: auto;
    margin-bottom: 2rem;
    width: 60vw;
    display: flex;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 20px 20px 20px;
}

#contact-form-container,
#contact-links-container {
    width: 25vw;
    display: inline-block;
}

#contact-links-container {
    margin: auto;
    display: flex;
}

#contact-links {
    display: flex;
    width: 25vw;
    margin-top: 2rem;
    margin-left: 5rem;
    flex-direction: column;
    gap: 2rem;
}

#contact-links a, #contact-links button {
    color: #5ad67d;
    vertical-align: middle;
    display: inline;
    text-decoration: underline;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical;
        /* Allow the user to vertically resize the textarea (not horizontally) */
    background: #f7f7f7;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.contact-link img {
    vertical-align:middle;
}

.contact-button {
    background-color: #114968;
    color: #fff;
    border-radius: .5rem;
    padding: 0 0.5rem;
    line-height: 2rem;
    text-decoration: none;
    float: right;
    margin-right: 0.5rem;
    font-size: large;
    
}

#email-icon {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    text-decoration: underline;
}

#text-copied {
    background: #fff;
    display: none;
    color: #000;
}

.contact-link {
    display: block;

    a, button {
        color: var(--color_prime);
    }
}

@media screen and (max-width: 65em) {
    #contact-form-container {
        width: 40vw;
    }
}

@media screen and (max-width: 47em) {
    #contact-form-container {
        width: 55vw;
    }
}

@media screen and (max-width: 41.5em) {
    #contact-div {
        flex-direction: column-reverse;
    }

    #contact-links {
        flex-direction: row;
        margin: auto;
        width: auto;
        padding-top: 2rem;
    }
    
    #text-copied {
        position: absolute;
        float: right;
        right: 20vw;
    }

    .contact-link img {
        display:block; 
        margin: auto;
    }

    #contact-form-container {
        padding: 1rem;
        width: 100%;
    }
}

@media screen and (max-width: 35em) {
    #contact-div {
        width: 80vw;
    }
}

@media screen and (max-width: 26.5em) {
    #contact-links {
        flex-wrap:wrap;
        gap: 1rem;
    }

}

@media screen and (max-width: 22em) {
    #contact-links {
        gap: 1rem 4rem;
        justify-content:center;
    }
}
