* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    background: #e2e2e2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Passion One', Arial;
}

/* heading and logo */

header {
    background-color: #50C878;
    line-height: 4.68rem;
}

#header1 {
    width: 100%;

}

header a, 
footer a {
    text-decoration: none;
}

header a, 
a:visited, 
a:hover, 
a:active {
    color: inherit;
}

#logo-a {
    display: flex;
    justify-content: center;
}

#logo {
    align-self: flex-start;
    font-family: Celtic;
    font-size: 3.75rem;
    
}

/* navigation links */

nav {
    position: absolute;
    top: 0;
    right: 0;
}

#menu {
    font-size: 110%;
    letter-spacing: 0.25rem;
    padding-right: 20px;
}

#menu li {
    list-style-type: none;
    padding-right: 10px;
    display: inline-block;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

#cv-download {
    text-align: center;
    text-decoration: underline;
    font-size: 1.3rem;
}

/* hero image */

#hero-outer {
    max-height: calc(100vh - 4.68rem);
    max-width: 100vw;
    overflow: hidden;
}

#hero-image {
    min-height: 100vh;
    max-width: 100vw;
    background: url("https://img.freepik.com/free-photo/view-wild-nature_1098-13185.jpg?w=1060&t=st=1708518075~exp=1708518675~hmac=98560b6dd9b5d55d7513f3130c78c26f2b498e94f2213962f64467f43451a16b") no-repeat top;
    background-size: cover;
}

#cover-text {
    width: 60%;
    height: fit-content;
    text-transform: uppercase;
    position: absolute;
    left: 20%;
    top: 45%;
    text-align: center;
}

#cover-text h2 {
    font-size: 2rem;
    font-family: Celtic;
    margin: auto;
    color: #fff;
}

.cta-button {
    background-color: #fff;
    color: #333333;
    border-radius: .5rem;
    padding: 0.5rem;
    line-height: 2.5rem;
    text-decoration: none;
}

.page-heading {
    text-align: center;
    margin: 2rem 0 1rem 0;
}

@media screen and (max-width: 47.5em) {
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    #logo {
        padding-right: 1.25rem;
    }

    #menu {
        padding-left: 20px;
    }

}

/* Add padding to logofor when changing (560) */

@media screen and (max-width: 35em) {
    #logo {
        padding-top: 10px;
    }

}

/* home page changes on mobile screens (~450px) */

@media screen and (max-width: 27.25em) {

    #menu {
        line-height: 3.125em;
        letter-spacing: 0.15em;
        padding: 0;
        font-size: 87%;
    }

    #menu li {
        padding-right: 5px;
    }

    #logo {
        padding: 0;
    }

}

@media screen and (max-width: 21.25em) {
    #logo {
        font-size: 3rem;
    }
}