{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WLDXPXWJ');</script>
    <!-- End Google Tag Manager -->
    {% block head %}
    <!-- Add the Bootstrap CSS and JavaScript files -->
    {% endblock %}
    
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} TODO: Add these {% endcomment %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    {% block favicon %}

    {% endblock %}

    {% block corecss %}
    
    
    {% endblock %}

    {% block extra_css %}
    
    {% endblock %}

    {% block corejs %}

    {% endblock %}

    {% block extra_js %}


    {% endblock %}

    <title>Sean Meade</title>
</head>


<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLDXPXWJ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header>
        {% include 'header.html' %}
        
    </header>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
   

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}    
    
    {% block extra_js_footer %}

    {% endblock %}
    <script>
        window.intercomSettings = {
          app_id: "z7b36uhl",
          user_id: "{{ request.user.id }}",
          name: "{{ request.user.get_full_name|escapejs }}",
          email: "{{ request.user.email|escapejs }}",
          created_at: "{{ request.user.date_joined|date:'U' }}",
          user_hash: "{{ user_hash }}"
        };
      </script>

      <script>
        // Example: Update after user logs in via AJAX or SPA behavior
        window.Intercom("update");
      </script>
      
      <script>
        // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/z7b36uhl'
        (function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',w.intercomSettings);}else{var d=document;var i=function(){i.c(arguments);};i.q=[];i.c=function(args){i.q.push(args);};w.Intercom=i;var l=function(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/z7b36uhl';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);};if(document.readyState==='complete'){l();}else if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
      </script>
</body>

</html>
