{% load static %}
<div id="header1">
    <a id="logo-a" href="{% url 'home' %}">
        <h1 id="logo">Sean Meade</h1>
    </a>
    <nav>
        <ul id="menu">
            {% if projects %}
            <li>
                <a href="{% url 'projects' %}" class="active">Projects</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
            {% elif form %}
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'contact' %}" class="active">Contact</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'contact' %}">Contact</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


<div id="cv-download"><a href="/media/SeanMeadeCV.pdf" download><img style="vertical-align:middle; filter: invert(100%);" src="{% static 'img/download24.png' %}"/><strong style="display:inline;">Download CV</strong></a></div>