{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block content %}
<h1 class="page-heading">Projects</h1>
<div id="search-form">
    <form method="GET" action="{% url 'projects' %}" name="searchProjects">
        <div class="search-box-container">
            <div class="search-box">
                <input class="" type="text" name="q" placeholder="Search projects">
                
            </div>
            <div class="search-items">

                {% if tags %}
    
                {% for tag in tags %}
    
                <div class="tag-checkbox">

                    {% if tag.id|slugify in highlight_tags %}
                    <input id="checkbox-btn-{{tag.friendly_name}}" class="checkbox" type="checkbox" value="{{tag.id}}"
                    name="checks[]" value="{{ forloop.counter0 }}" onclick="SearchTag(this)" checked>

                    {% else %}
    
                    <input id="checkbox-btn-{{tag.friendly_name}}" class="checkbox" type="checkbox" value="{{tag.id}}"
                        name="checks[]" value="{{ forloop.counter0 }}" onclick="SearchTag(this)" >

                        {% endif %}
    
                    <label class="label" for="checkbox-btn-{{tag.friendly_name}}" class="checkbox"
                        type="checkbox">{{tag.name}}</label>
    
                </div>
    
                {% endfor %}
    
                {% endif %}
            </div>
            <div class="search-buttons">
                <button type="submit">Search</button>
                <p class="clear-search">
                    <a href="{% url 'projects' %}" style="vertical-align:middle; display:inline;">Clear Search</a>
                </p>
            </div>
            
        </div>

    </form>

</div>

<div id="card-container">



    {% if projects %}

    {% for project in projects %}

    {% include 'project-card.html' with project=project %}

    {% endfor %}

    {% else %}

    <p>No Projects to display</p>

    {% endif %}

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}