{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
{% endblock %}

{% block content %}

<div>
    <form method="GET" action="{% url 'projects' %}">
            
            <div class="search-items">

            {% if tags %}

    {% for tag in tags %}

    <div class="tag-checkbox" >

        <input id="checkbox-btn-{{tag.friendly_name}}" class="checkbox" type="checkbox" value="{{tag.friendly_name}}" name="checks[]" value="{{ forloop.counter0 }}">
        
        <label class="label" for="checkbox-btn-{{tag.friendly_name}}" class="checkbox" type="checkbox">{{tag.name}}</label>
          
    </div>

    {% endfor %}

    {% endif %}
            </div>
            <div class="search-box-container">
                <div class="search-box">
                    <input class="" type="text" name="q" placeholder="Search projects">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                
            </div>
        </form>   

</div>

<div id="card-container">

    

{% if projects %}

{% for project in projects %}

{% include 'project-card.html' with project=project %}


{% comment %} <p>{{ project.name }}</p>
<p>{{ project.website }}</p>
<p>{{ project.github }}</p>
<p>{{ project.description }}</p>
<img src="{{ project.image.url }}"/> {% endcomment %}

{% endfor %}

{% else %}

<p>No Projects to display</p>

{% endif %}

</div>

{% endblock %}
